extends layout

block content
  h1= title

  ul
    each subscriber in subscriber_list
      li
        |#{subscriber.first_name} #{subscriber.family_name} #{subscriber.email}

    else
      li There are no subscribers.
